<% unless comment.archived? %>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <strong><%= comment.commenter %></strong>
            </p>

            <p class="card-text">
                <%= comment.body %>
            </p>
            <%= button_to "Destroy Comment", [comment.post, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"},
                  class: "btn btn-danger btn-sm "
                 %>
        </div>
    </div>
<% end %>